/*banner*/
#banner .banner-box{
    height: 450px;
    background: url(../imgs/banner01.jpg) no-repeat center center;
    background-size: cover;
}
/*内容区域*/
#culture .content .imgbox{

}
#culture .content .imgbox>img{
    width:100%;
}
#culture .content .text{
    /* text-indent: 2em; */
    /* line-height: 32px; */
    color: #777;
    font-size: 18px;
    margin-bottom: 30px;
}
#culture .content .text ul li{
	text-indent: 30px;
    font-size: 14px;
}